/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  /* ... */
}

/* ใช้กับแนะนำ/ไม่แนะนำอาหารกับโรคไม่ติดต่อ */

.card-suggession {
  @apply mx-3 my-3 rounded-xl bg-gray-50 grid-cols-4  shadow-md
}
.card-suggession-image {
  @apply w-full h-96 md:w-full !important
}
.card-suggestion-header-content {
  @apply flex flex-col w-full h-5/6 gap-3 px-5  text-center mt-5
}
/* -------------- */

.font-Poppins{
  font-family: 'Kanit', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
.owl-item .ant-image-img{
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.2);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.item{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 4px;
  margin-bottom: 10px;
}
.ant-image-preview-img{
  display: inline-flex !important;
}
.food-content-body{
  text-overflow: ellipsis;
  @apply w-full h-full pl-4 sm:text-lg  whitespace-pre-line truncate break-words  text-left
}
.food-content-header{
  @apply border-l-2 border-green-700 pl-3 text-2xl font-thin text-left  lg:text-3xl
}
@media only screen and (max-width: 1256px){
  .ant-steps{
    display:flex !important;
    flex-direction: column !important;
    margin: 10px;
    padding-left: 16px;
    width: 100%;
  }
  .ant-steps-item-container{
    
    padding-bottom: 16px;
  }
  .ant-steps-item-active{
    padding-left: 16px !important;
  }
}


.mv-10{
  top: -50px;
  position: relative;
}
.text-shadow{
  text-shadow: 0px 15px 15px rgba(0, 0, 0, 0.75);
  /* font-family: Poppins; */
  font-style: normal;
  font-weight: normal;
}
/* thai */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKS-Go6G5tXcraQI6miZbdhMWJy.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKS-Go6G5tXcraQI6miZaxhMWJy.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKS-Go6G5tXcraQI6miZa1hMWJy.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKS-Go6G5tXcraQI6miZaNhMQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcraBGwCYdA.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcraaGwCYdA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcrabGwCYdA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcraVGwA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.icon-arrow-prev,.icon-arrow-next{
  font-size: 1.5rem;
  background-color: black;
  color:white;
  position: absolute;
  padding: 8px 8px;
  top: 50%;
  border-radius: 50%;
  opacity: 0.5;
  /* width: 10px; */
}
.icon-arrow-prev{
  left: -30px;
}
.icon-arrow-next{
  right: -30px;
}

/* custom font */
* {
  font-family: 'Kanit', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

.h-fix73{
  height: 73vh !important;
}
/* .title-article{
  border-bottom: 4px solid #4DA44D;
} */
.border-b-green{
  border-bottom-color: #4DA44D;
}
.ease-anima {
  transition: 'all  ease-in-out';
  @apply transform transition-transform  ease-in-out;
}

button {
  @apply rounded-lg  py-1 px-3  transform duration-500 transition-all ease-in-out flex gap-2 flex-wrap justify-center items-center ;
}
.button-cus {
  @apply rounded-lg  py-1 px-3 shadow-md  transform duration-500 transition-all ease-in-out flex gap-2 flex-wrap justify-center items-center ;
}
.ant-typography ,
.ant-typography-ellipsis ,
.ant-tooltip-inner {
  @apply whitespace-pre-line overflow-hidden w-full
}
/* custom curve ant design input */

.ant-input-number{
  @apply w-full !important
}

a:link,a:visited  {
  @apply text-gray-900
}

/* custom curve ant design button */
.ant-btn{
  border-radius: 10px!important;
  @apply flex justify-center items-center !important
}

/* custom fontsize header ant table */
.ant-table-thead{
  font-size: .9rem;
}

/* custom radio  */
.ant-radio-inner,
.ant-radio-inner:after {
  border-radius: 10px !important;
  background-color: #7367f0;
}
.ant-radio-inner:after {
  border: none !important;
}

/* custom title right to left */
.ant-form-item-label > label {
  text-align: left !important;
  font-size: 0.875rem !important;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Charm', sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-upload ,.ant-upload-select, .ant-upload-select-text,.upload-list-inline,.ant-upload-list-item {
  @apply w-full !important;
}
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: '100%';
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
.ant-form-item-label > label{
  @apply md:text-lg sm:text-base !important;
}
.ant-modal-title {
  @apply md:text-lg sm:text-base font-bold
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* button */
::-webkit-scrollbar-button {
  background: #A78BFA; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A78BFA; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A78BFA; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #DBEAFE; 
}

/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
  background: #000; 
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #A78BFA; 
}

/* Resizer */
::-webkit-resizer {
  background: #000; 
}

.ant-select .ant-select-selector{
  border-radius: 10px !important;
  @apply mt-1
}

/* custom curve ant design input */
.ant-form-item-control-input-content .ant-form-item-control-input  .ant-input-number-input  .ant-input-number .ant-form-item-control-input .ant-input{
  border-radius: 10px !important;
  @apply rounded-md  !important;
}

.ytp-cued-thumbnail-overlay .ytp-cued-thumbnail-overlay-image {
  @apply rounded-lg  !important;
}

.admin-bg{
  background-image: url("https://th.jobsdb.com/th-th/wp-content/uploads/sites/3/2021/09/remote_content-2.png");
}

/* card */
.card-header-top{
  @apply mt-4 text-xl md:text-4xl mb-0 font-bold  transition transform w-full text-center;
}
.card-header{
  @extend  .ease-anima;
  @extend  .title-article;
  @apply text-xl  md:text-2xl lg:text-3xl pb-0 truncate mb-2 hover:text-gray-800 ;
}

/* card */


/* search ที่เป็นปุ่มๆ */
.search-div-top-1{
  @apply w-full flex justify-end;
}
.search-div-top-2{
  @apply flex lg:w-1/3;
}
.search-search{
  /* .input .search .loading with enterButton; */
  @apply lg:w-1/4   rounded-md;
}
.search-span{
  @apply justify-center text-right text-sm;
}
.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* search ที่เป็นปุ่มๆ */

.ant-input-wrapper input {
  border-radius: 10px !important;
}

/* table ant */
.ant-table-title {
  @apply bg-gray-900 text-white
}
.ant-modal-confirm-btns {
  @apply w-full h-full flex justify-end !important
}

.ease {
  @apply transition-all ease-in-out duration-500 transform !important
}

.button {
  @apply rounded-lg py-1 px-2  
}
.ant-form-item-explain-error{
  text-align: center !important
}
.ant-notification {
  z-index: 9999999 !important;
}